* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
nav {
	background-color: #ffde2f;
	height: 60px;
	width: 100%;
	ul {
		list-style: none;
		margin-right: 100px;
		float: right;
		padding-top: 21.5px;
		li {
			font-family: "Quicksand", sans-serif;
			font-weight: bold;
			display: inline-block;
			line-height: 0px;
			justify-content: center;
			a {
				color: black;
				font-size: 14px;
				text-transform: uppercase;
				padding: 21px 15px 20px 15px;
			}
		}
	}
}
lable.logo {
	color: black;
	font-size: 28px;
	line-height: 60px;
	padding: 0 100px;
	font-weight: bold;
	font-family: "Quicksand", sans-serif;
}
a.active {
	background: #ccb025;
	transition: 0.5s;
}
a {
	&:hover {
		background: #ccb025;
		transition: 0.5s;
	}
}
.dropDown {
	display: inline-block;
	position: relative;
	&:hover {
		.dropDown-content {
			display: inline;
		}
	}
}
.dropDown-content {
	display: none;
	background-color: #ffde2f;
	position: absolute;
	top: 38px;
	left: 0px;
	overflow: hidden;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
	li {
		a {
			color: black;
			display: block;
		}
		line-height: 20px;
	}
}
