/*------------------------------------------------------------- 
	RESET
-------------------------------------------------------------*/
img { width: 100%; }

/*------------------------------------------------------------- 
	PAGE CONTENT PRODUCT
-------------------------------------------------------------*/
.main-product {
	background-color: #09284b;
	padding-bottom: 180px;
	background-position: center center;
}
.find-box {
	max-width: 780px;
	margin: 0 auto;
	width: 100%;
	padding: 92px 0px 75px 0px;
	h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		color: #fff;
		font-size: 48px;
		text-align: center;
		padding-bottom: 22px;
	}
	h4 {
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
		color: #fff;
		font-size: 22px;
		text-align: center;
		padding-bottom: 22px;
	}
}
.form-sh {
	input {
		background: none;
		border: none;
		border-bottom: 1px solid #ffffff;
		width: 100%;
		min-height: 55px;
		color: #fff;
		font-size: 22px;
		font-weight: 300;
		&::-webkit-input-placeholder {
			color: #ffffff;
		}
		&:-ms-input-placeholder {
			color: #ffffff;
		}
		&::-moz-placeholder {
			color: #ffffff;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #ffffff;
			opacity: 1;
		}
	}
	.bootstrap-select {
		&:not([class*="col-"]) {
			&:not([class*="form-control"]) {
				&:not(.input-group-btn) {
					width: 100%;
				}
			}
		}
		.dropdown-toggle {
			&:focus {
				border: none;
				border-bottom: 1px solid #fff;
				outline: none !important;
			}
		}
	}
	.btn-default {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #fff;
		border-radius: 0px;
		color: #fff;
		font-size: 22px;
		font-weight: 300;
		min-height: 55px;
		&:active {
			background-color: transparent;
			color: #fff;
		}
	}
	.open {
		>.dropdown-toggle.btn-default {
			&:hover {
				background-color: transparent;
				color: #ffffff;
			}
			background-color: transparent;
			color: #fff;
		}
	}
	.btn-default.active {
		background-color: transparent;
		color: #fff;
	}
	.dropup {
		.dropdown-menu {
			margin: 0px;
			border-radius: 0px;
		}
	}
	.navbar-fixed-bottom {
		.dropdown {
			.dropdown-menu {
				margin: 0px;
				border-radius: 0px;
			}
		}
	}
	.dropdown-menu {
		margin: 0px;
		border-radius: 0px;
	}
	a.btn {
		background: #1d99ff;
		color: #ffffff;
		min-height: 55px;
		width: 100%;
		line-height: 38px;
		font-size: 22px;
		font-weight: 500;
		border-radius: 3px;
		text-decoration: none;
		&:hover {
			color: #fff;
			background-color: #007dea;
			border-color: #0077e0;
		}
	}
	.bootstrap-select.btn-group {
		.dropdown-menu {
			background: #09294c;
			padding: 0px;
			li {
				a {
					color: #fff;
					padding: 10px 15px;
					&:hover {
						background: #1d99ff;
					}
					&:focus {
						background: #1d99ff;
					}
				}
			}
		}
	}
	.btn {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}
}
.btn-group.open {
	.dropdown-toggle {
		box-shadow: none;
	}
}
.product-sh {
	p {
		clear: both;
		margin: 0px;
		text-align: center;
		padding-top: 30px;
		color: #ddd;
		font-size: 16px;
		a {
			color: #007dea;
			&:hover {
				color: #007dea;
			}
			&:focus {
				color: #007dea;
			}
		}
	}
}
.box-img {
	background: #051d36;
	text-align: center;
	padding-bottom: 30px;
	min-height: 280px;
	margin-bottom: 30px;
	position: relative;
	border-bottom: solid #007dea 3px;
	transition: ease all 0.5s;
	h4 {
		color: #fff;
		padding-top: 35px;
		padding-bottom: 30px;
		font-size: 25px;
		font-weight: 500;
		transition: all 0.3s ease 0s;
		letter-spacing: 0px;
	}
	&:hover {
		cursor: pointer;
		transform: scale(1.1);
		background: #007dea;
	}
}
.food {
	position: absolute;
	right: 0px;
	top: 40%;
}
